* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1537420327992-d6e192287183?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3BhY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
  color: white;
  min-height: 100vh;
}

img {
  display: block;
  margin: 0 auto;
  /* height: 500px; */
  width: 50%;
  height: 20%;
}

h3 {
  font-size: 25px;
}

#desc {
  width: 75%;
  margin: 2rem auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: 2px solid white;
  padding: 15px 25px;
  display: none;
  font-size: 16px;
}

#getPic {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 13px;
  background: gold;
  cursor: pointer;
}

input {
  font-size: 20px;
  padding: 9px 20px;
  border-radius: 9px;
  background: aliceblue;
}

a {
  color: white;
}

a:hover {
  color: black;
  text-decoration: underline black;
}  

footer {
  /* background-color: rgb(1,152,224); */
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.fa-github {
  font-size: 40px;
}

footer a {
  color: white;
}

footer a:hover {
  transform: scale(1.5);
  color: black;
}

#dev {
  font-size: 25px;
  color: white;
  margin: 10px;
  text-decoration: none;
}

#dev:hover {
  text-decoration: underline;
  cursor: pointer;
  color: black;
  transform: none;
}

@media screen and (max-width: 900px) {
  h2{
      font-size: 2em;
  }
  #dev{
      font-size: 20px;
  }
  .fa-github {
      font-size: 30px;
  }
  #desc{
    width: 95%;
    font-size: 15px;
  }
  img{
    width: 60%;
  }
}
li{
  margin: 0 5px;
}

/* Handling video */
.picture{
  display: flex;
  flex-direction: column;
  align-items: center;
}
